doctype html
head
  meta(charset='utf8')
  title mythomagic
  meta(name='description' content='ancient greek gaming')
  meta(name='keywords' content='mythomagic')
  link(rel='shortcut icon' href='../images/tokens/redicon.png')
  link(rel='stylesheet' href='../stylesheets/lobbystyle.css')
  link(rel='stylesheet' href='../stylesheets/entrypage.css')
  link(rel='stylesheet' href='../stylesheets/fireflies.css')
  script(type="module" src="../gsap/all.js")
  script(type="module" src='../javascripts/fireflyAnim.js' charset='utf8')
  script(src='../javascripts/bgm_player.js' charset='utf8')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script.
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll(".entryButton").forEach((item) => {
        item.addEventListener("mouseenter", () => {
          let clickSound = new Audio(GITHUB_PUBLIC_PATH+'sounds/clack4.mp3');
          clickSound.volume = 0.7;
          clickSound.play();
        });
      });
    });
  link(rel='icon' type='image/png' sizes='32x32' href='../images/tokens/redicon.png')
  link(rel='icon' type='image/png' sizes='16x16' href='../images/tokens/redicon.png')
  meta(property="og:title" content="mythomagic - made by miya7090")
  meta(property='og:image' content='https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/og-image.png')
iframe(src="../sounds/silence.mp3" allow="autoplay" id="audio" style="display: none")
#bgmLinker(page="entry")
.fireflyContainer
#banner
  img.laurel_completeBG(src='https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/laurels/bronze-laurel.svg')
  img.token_completeBG(src='https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/tokens/whitetoken.png')
  p.tier_text mythomagic
  #buttons
    a(class='entryButton' href='/help') instructions
    a(class='entryButton' href='/lobby') play game
    a(class='entryButton' href='/index') card index
  #footer
    hr
    #credsFixed
      a#betaVersion beta version 2.0.0 
      | • 
      a(href='https://forms.gle/p9WZHYcC2gUuW6LG6' target='_blank') support form 
      | • 
      a(href='/terms') terms of use
      br
      br
      | a portfolio project inspired by 
      a(href='https://en.wikipedia.org/wiki/List_of_Greek_mythological_figures' target='_blank') greek mythology 
      br
      | and 
      a(href='https://riordan.fandom.com/wiki/Mythomagic' target='_blank') mythomagic 
      | from the 
      a(href='https://rickriordan.com/series/percy-jackson-and-the-olympians/' target='_blank') percy jackson series 
      | &#x2646;
      br
      br
      | for best experience, use windows with 
      a(href='https://vivaldi.com/' target='_blank') vivaldi 
      | browser
      br
      span(style='color:rgb(255, 246, 114)') • not supported on mobile devices •
      br
      br
      | made by 
      a(href='https://github.com/miya7090/' target='_blank') miya7090
      |  • view 
      a(href='https://github.com/miya7090/mythomagic' target='_blank') source code
      |  on github
      br
      |  icons from 
      a(href='https://www.flaticon.com/authors/freepik' target='_blank') freepik on flaticon
      | ,
      |         bgm from 
      a(href='https://www.youtube.com/c/TheSeventhMidnight/' target='_blank') the seventh midnight
      br
      |  sound effects from 
      a(href='https://github.com/miya7090/' target='_blank') miya7090
      | , 
      a(href='https://www.youtube.com/channel/UCBlyQ5LHho5o7JQE1WocXuQ' target='_blank') cpht fluke
      | , and 
      a(href='https://www.youtube.com/channel/UCLfn0jnl1ye_AkuSeu5l3Uw' target='_blank') alan dalcastagne
      br
      br
      | contact: fanmade
      // no bots please
      | mythomagic
      | [at] 
      // no bots please
      | gmail [dot] com
      br