doctype html
head
  meta(charset='utf8')
  title mythomagic
  meta(name='description' content='ancient greek gaming')
  meta(name='keywords' content='mythomagic')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='stylesheet' href='../stylesheets/game.css')
  link(rel='stylesheet' href='../stylesheets/tiles.css')
  link(rel='stylesheet' href='../stylesheets/tokens.css')
  link(rel='stylesheet' href='../stylesheets/cards.css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='/socket.io/socket.io.js' charset='utf8')
  script(src='../javascripts/config.js' charset='utf8')
  script(src='../javascripts/mathhelpers.js' charset='utf8')
  script(src='../javascripts/models.js' charset='utf8')
  script(src='../javascripts/graphichelpers.js' charset='utf8')
  script(src='../javascripts/listeners.js' charset='utf8')
  script(src='../javascripts/game.js' charset='utf8')
  script(src='../javascripts/gamelogichelpers.js' charset='utf8')
  script(src='../javascripts/abilities.js' charset='utf8')
  link(rel="icon" href="https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/favicon/favicon.ico" type="image/x-icon")
.wrapper
  .player
    .leftcolumn
      .hexgrid
        #hexContainer.container
      .powerbox
        input#passButton.button(type='button' value='pass' onclick="passButtonClick()" disabled)
        p &nbsp; &nbsp;
        input#autoButton.button(type='button' value='attack' onclick="autoButtonClick()" disabled)
        p &nbsp; &nbsp;
        input#abilityButton.button(type='button' value='ability' onclick="abilityButtonClick()" disabled)
        p &nbsp; &nbsp;
        input#ultButton.button(type='button' value='ultimate' onclick="ultButtonClick()" disabled)
    .rightcolumn
      #enemyCardReference.cards
      #onFieldCards.cards
      #gameInfoBox.hoverInfo
      #gameOptions.optionBox
  #myAvailableCards.cards
  div.lowerPageText
    p#previewRadius Loading...
    p#playerTurn Loading...
    p#previewRadiusInstructions z/x ... -/+ preview radius&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;c ... clear selection
    h2#mythomagicTitle mythomagic