doctype html
head
  meta(charset='utf8')
  title mythomagic
  meta(name='description' content='ancient greek gaming')
  meta(name='keywords' content='mythomagic')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='stylesheet' href='../stylesheets/style.css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='/socket.io/socket.io.js' charset='utf8')
  script(src='../javascripts/config.js' charset='utf8')
  script(src='../javascripts/mathhelpers.js' charset='utf8')
  script(src='../javascripts/models.js' charset='utf8')
  script(src='../javascripts/graphichelpers.js' charset='utf8')
  script(src='../javascripts/listeners.js' charset='utf8')
  script(src='../javascripts/game.js' charset='utf8')
  script(src='../javascripts/gamelogichelpers.js' charset='utf8')
  link(rel='apple-touch-icon' sizes='180x180' href='public/images/favicon/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='public/images/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='public/images/favicon/favicon-16x16.png')
  link(rel='manifest' href='public/images/favicon/site.webmanifest')
.wrapper
  .player
    .leftcolumn
      .hexgrid
        #hexContainer.container
      .powerbox
        input#autoButton.button(type='button' value='attack' onclick="autoButtonClick()" disabled)
        p &nbsp; &nbsp;
        input#abilityButton.button(type='button' value='ability' onclick="abilityButtonClick()" disabled)
        p &nbsp; &nbsp;
        input#ultButton.button(type='button' value='ultimate' onclick="ultButtonClick()" disabled)
    .rightcolumn
      #enemyCardReference.cards
      #onFieldCards.cards
      #gameInfoBox.hoverInfo
      #gameOptions.optionBox
  #myAvailableCards.cards
  div.lowerPageText
    p#tokenCountdown
    p#previewRadius Preview radius: undefined
    p#playerTurn Current player: undefined
    p z/x ... -/+ preview radius
    h2#mythomagicTitle mythomagic