doctype html
head
  meta(charset='utf8')
  title mythomagic - instructions
  meta(name='description' content='ancient greek gaming')
  meta(name='keywords' content='mythomagic')
  link(rel='shortcut icon' href='../images/tokens/redicon.png')
  link(rel='stylesheet' href='../stylesheets/lobbystyle.css')
  link(rel='stylesheet' href='../stylesheets/helppage.css')
  script.
    function scrollToThisDiv(idOfDiv) { console.log("hi", idOfDiv); document.getElementById(idOfDiv).scrollIntoView(); }
  script(src='../javascripts/bgm_player.js' charset='utf8')
  link(rel='icon' type='image/png' sizes='32x32' href='../images/tokens/redicon.png')
  link(rel='icon' type='image/png' sizes='16x16' href='../images/tokens/redicon.png')
  meta(property="og:title" content="mythomagic - instructions")
  meta(property='og:image' content='https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/og-image.png')
iframe(src="../sounds/silence.mp3" allow="autoplay" id="audio" style="display: none")
#bgmLinker(page="help")
h2#h2top how to play
span(id="playGameForward" style="position:absolute;height:1px;width:1px;top:0px;left:0px;")
.iconNavButtonsVariant
  a(href="/index")
    img(src='https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/index.png' title="card index")
  a(href="/lobby")
    img(src='https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/play.png' title="play game")    
  a(href="/")
    img(src='https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/return.png' title="back to main menu")
.navigationDiv 
  span(class='tocTitle' onclick="scrollToThisDiv('joinALobby')") 1. join a lobby
  span(class='tocTitle' onclick="scrollToThisDiv('pickYourHeroes')") 2. choose your team
  span(class='tocTitle' onclick="scrollToThisDiv('moveYourHero')") 3. move a token
  span(class='tocTitle' onclick="scrollToThisDiv('selectAnAction')") 4. select an action
#joinALobby.helpSlide
  h3
    span(style='color: gray;') 1. 
    |  join a lobby 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('playGameForward')") [back to top]
  p
    | enter a nickname and choose one of four possible lobbies to play in: 
    span(style='color:var(--SERVERCOLOR);') olympia, corinth 
    span(style='color:var(--GENERALHIGHLIGHT);') (60-), 
    span(style='color:var(--SERVERCOLOR);') athens 
    span(style='color:var(--GENERALHIGHLIGHT);') (45-30), 
    | or 
    span(style='color:var(--SERVERCOLOR);') sparta 
    span(style='color:var(--GENERALHIGHLIGHT);') (15-15).
  br
  p
    span(style='color:var(--SERVERCOLOR);') olympia: 
    | teams are pre-assigned, having at least one fighter and at least one defender; turns are 
    span(style='color:var(--GENERALHIGHLIGHT);') untimed. 
  p
    span(style='color:var(--SERVERCOLOR);') corinth: 
    span(style='color:var(--GENERALHIGHLIGHT);') 60 
    | seconds to pick teams; turns are 
    span(style='color:var(--GENERALHIGHLIGHT);') untimed.
  p
    span(style='color: var(--SERVERCOLOR);') athens: 
    span(style='color:var(--GENERALHIGHLIGHT);') 45 
    | seconds to pick teams; 
    span(style='color:var(--GENERALHIGHLIGHT);') 30 
    | seconds per turn.
  p
    span(style='color:var(--SERVERCOLOR);') sparta: 
    span(style='color:var(--GENERALHIGHLIGHT);') 15 
    | seconds to pick teams; 
    span(style='color:var(--GENERALHIGHLIGHT);') 15 
    | seconds per turn.
  br
  p
    | once you are in a lobby, you can challenge other players in that lobby to a game.
#pickYourHeroes.helpSlide
  h3
    span(style='color: gray;') 2. 
    | choose your team 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('playGameForward')") [back to top]
  p
    | for games in 
    span(style='color: var(--SERVERCOLOR);') corinth, athens, 
    | and 
    span(style='color: var(--SERVERCOLOR);') sparta, 
    | you can select up to five hero cards. click again on any card you've selected to return it.
  br
  p
    | there are seven available hero classes: 
  ul
    li
      p
        span(style='color:var(--MELEE);') melee
        |  and 
        span(style='color:var(--RANGED);') ranged
        |  fighters tend to have higher 
        span(style='color:var(--STATNAME);') attack
        |  (ATK) and primarily do damage through autoattacks and abilities.        
    li
      p
        span(style='color:var(--SUPPORTER);') supporters
        |  boost allies&apos; stats and bestow various blessings, while 
        span(style='color:var(--CASTER);') casters
        |  impair enemies and worsen enemy stats.
    li
      p
        span(style='color:var(--PROTECTOR);') protectors
        |  often increase the 
        span(style='color:var(--STATNAME);') defense
        |  (DEF) and survivability of allies, while the main purpose of 
        span(style='color: var(--HEALER);') healers
        |  is to restore allies&apos; 
        span(style='color:var(--STATNAME);') health points
        |  (HP).
    li
      p
        span(style='color:var(--SPECIAL);') special
        |  heroes use unique abilities to affect the outcome of the game.
  p
    | if time runs out and you still haven&apos;t picked any heroes, you and your opponent will be returned to the lobby.
#moveYourHero.helpSlide
  h3
    span(style='color: gray;') 3. 
    |  move a token 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('playGameForward')") [back to top]
  p each player has 
    span(style='color: var(--GENERALHIGHLIGHT);') two turns per round. 
    | on your turn, click one of your tokens on the map to move it, and click again to place it.
  p
    i
      | note: clicking the same tile again keeps the token in the same position for the turn. to unselect a tile, press 
      span(style='color:var(--KEYCODE);') c
      |  instead.
  br
  p
    | the maximum distance that you can move the token depends on the hero&apos;s 
    span(style='color:var(--STATNAME);') movement
    |  (MVT) stat.
  br
  p
    | at any point, you can press 
    span(style='color:var(--KEYCODE);') z
    |  and 
    span(style='color:var(--KEYCODE);') x
    |  to decrease/increase the 
    span(style='color: var(--GENERALHIGHLIGHT);') preview radius
    | , which appears when you hover your cursor over a game tile.
  p
    | the preview radius can be useful as a tool for measuring tile distances on the grid.
#selectAnAction.helpSlide
  h3
    span(style='color: gray;') 4. 
    |  select an action 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('playGameForward')") [back to top]
  p
    | all heroes accumulate a certain amount of 
    span(style='color:var(--STATNAME);') mana points 
    | (MP) after each of your turns, typically around 50 MP/turn.
  p
    | each hero has a unique 
    span(style='color:var(--SKILLCOLOR);') ability
    |  consuming 200 MP, and an 
    span(style='color:var(--SKILLCOLOR);') ultimate
    |  consuming 1000 MP.
  br
  p
    | a hero can also 
    span(style='color: var(--SKILLCOLOR);') attack 
    | (also known as autoattack), which does not consume MP and will attack all opponents within the hero's 
    span(style='color:var(--STATNAME);') reach&nbsp;
    | (RC).
  p
    | each hero also has a&nbsp;
    span(style='color: var(--SKILLCOLOR);') passive
    |  skill that is automatically applied each turn.
  br
  br
  br
  p(style="text-align:center;color: var(--GENERALHIGHLIGHT);")
    | mythomagic is won when all enemy heroes have been defeated, or when your opponent concedes.
br
br
hr(style="width:50%;border: 2px solid rgba(255,255,255,0.1);")
h2 advanced instructions
.navigationDiv 
  span(class='tocTitle' onclick="scrollToThisDiv('calculatingDamage')") calculating damage
  span(class='tocTitle' onclick="scrollToThisDiv('creatingAnAccount')") creating an account
  span(class='tocTitle' onclick="scrollToThisDiv('scoring')") game scoring
  span(class='tocTitle' onclick="scrollToThisDiv('botGames')") bot games
  span(class='tocTitle' onclick="scrollToThisDiv('joiningAGroup')") joining a group
br
#calculatingDamage.helpSlide
  h3 calculating damage 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('playGameForward')") [back to top]
  p
    | the amount of damage done in an autoattack is typically calculated by 
    span(style='color: var(--GENERALHIGHLIGHT);') dividing the attacker's ATK by their opponent&apos;s DEF.
  p there are six status effects that modify this base amount of damage, or other hero aspects:
  ol
    li
      span(style='color:var(--STATUSEFFECTCOLOR);') charmed:
      |  DEF is reduced by 50%
    li
      span(style='color:var(--STATUSEFFECTCOLOR);')  distracted:
      |  prevented from gaining MP, DEF reduced by 25%
    li
      span(style='color:var(--STATUSEFFECTCOLOR);')  poisoned:
      |  receives 800/DEF damage each turn
    li
      span(style='color:var(--STATUSEFFECTCOLOR);')  stunned:
      |  ATK and MVT are reduced to zero, RC reduced to 1
    li
      span(style='color:var(--STATUSEFFECTCOLOR);')  terrified:
      |  ATK is reduced by 50%
    li
      span(style='color:var(--STATUSEFFECTCOLOR);')  obscured:
      |  location is not visible to the opponent
  p
    | status effects typically persist for 4 turns; repeated applications stack by duration.
  p
    span(style='color: var(--GENERALHIGHLIGHT);') true
    |  damage is applied directly and is not affected by hero stats or statuses.
  br
  p
    | heroes are defeated when their HP reaches zero. a hero&apos;s passive becomes inactive once they are defeated.
#creatingAnAccount.helpSlide
  h3 creating an account 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('playGameForward')") [back to top]
  p
    | if you have an 
    span(style='color: var(--GENERALHIGHLIGHT);') invitation code
    | , you can create an account.
  br
  p
    | your 
    span(style='color: var(--GENERALHIGHLIGHT);') username
    |  reserves a nickname for your usage and assigns you a new invitation code that can be used up to five times.
  p
    i please do not create multiple accounts to reserve nicknames or gain more invitation codes: your account (and all resulting accounts) will be removed.
  br
  p
    | accounts track your wins and losses across games and calculate your 
    span(style='color: var(--GENERALHIGHLIGHT);') player score, 
    | which is used to determine your 
    span(style='color: var(--GENERALHIGHLIGHT);') class 
    | and 
    span(style='color: var(--GENERALHIGHLIGHT);') ranking 
    | amongst all players.
  br
  p
    | your 
    span(style='color: var(--GENERALHIGHLIGHT);') class 
    |  is based on your score: 
    span(style='color: var(--IRON);') iron
    | , 
    span(style='color: var(--BRONZE);') bronze
    |  (&gt;15.00), 
    span(style='color: var(--SILVER);') silver
    |  (&gt;20.00), 
    span(style='color: var(--GOLD);') gold
    |  (&gt;30.00), or 
    span(style='color: var(--GRANDMASTER);') grandmaster
    |  (&gt;40.00).
  p
    | if a player is logged in, their name in the lobby will be colored according to their current class. 
  p
    | guest players are shown with 
    span(style='color: var(--NOTIER);') green 
    | names in the lobby. 
  p
    | automated bots are shown with 
    span(style='color: var(--BOTCOLOR') pink 
    | names in the lobby.
  p
    i tip: you can hover over a name in the lobby to have the score and class shown as text.
#scoring.helpSlide
  h3 game scoring 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('playGameForward')") [back to top]
  p
    | when you create an account, your player score is initialized to be 
    span(style='color: var(--GENERALHIGHLIGHT);') 10.00.
  p
    | your player score is updated when you play games while you are logged in.
  br
  p
    | winning a game against a logged-in player grants you 
    span(style='color: var(--GENERALHIGHLIGHT);') 1.00 
    | plus 
    span(style='color: var(--GENERALHIGHLIGHT);') 10% 
    | of your opponent&apos;s score. 
    | at most 
    span(style='color: var(--GENERALHIGHLIGHT);') 5.00 
    | points can be gained per win.
  p
    | losing a game removes 
    span(style='color: var(--GENERALHIGHLIGHT);') 10% 
    | of your own score.
  p
    | surrendering 
    span(style='color:var(--KEYCODE);') (esc) 
    | a game after pick phase completes counts as your opponent's win and your loss.
  br
  p
    | truces (and ties, where both players are simultaneously defeated) affect players' scores, but not players' win/loss counts.
  p
    | if both players tie or agree on a truce 
    span(style='color:var(--KEYCODE);') (t)
    | , both players will receive 
    span(style='color: var(--GENERALHIGHLIGHT);') 0.50 
    | points, and the game will end early.
  br
  p
    span(style='color:var(--GENERALHIGHLIGHT);') disconnecting 
    | after a match starts (e.g. wi-fi disconnecting, closing the window, or refreshing the page) gives your opponent the choice to claim victory or to wait for you to return.
  p
    | if both players disconnect, the match is won by the second player to disconnect, or by neither player if that cannot be determined.
  p
    | after a mutual disconnection, both players will be returned to the lobby page.
#botGames.helpSlide
  h3 bot games 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('playGameForward')") [back to top]
  p
    | every lobby has an automated 
    span(style='color: var(--GENERALHIGHLIGHT);') bot 
    | available to practice against. 
  p
    | note that this feature is currently under development: hero passives in particular will not function correctly in bot games.
  br
  p
    | if you're logged in and have less than 15.00 points, winning a game against a bot grants you 
    span(style='color: var(--GENERALHIGHLIGHT);') 1.00 
    | point, tying against a bot grants you 
    span(style='color: var(--GENERALHIGHLIGHT);') 0.25 
    | points, and losing against a bot grants you no points.
  br
  p
    | if you have accumulated over 15.00 points, bot games will not affect your score at all.
#joiningAGroup.helpSlide
  h3 joining a group 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('playGameForward')") [back to top]
  p
    | after logging in, your account login box will display a space where you can type in the name of your desired 
    span(style='color: var(--GENERALHIGHLIGHT);') group.
  p
    | once you've joined a group, you'll see a list of all of your group members, as well as their scores and win counts.
  p
    | the sum of the group members' scores is the 
    span(style='color: var(--GENERALHIGHLIGHT);') group score, 
    | which is used to determine group rankings.
br
br
br