doctype html
head
  meta(charset='utf8')
  title mythomagic - instructions
  meta(name='description' content='ancient greek gaming')
  meta(name='keywords' content='mythomagic')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='stylesheet' href='../stylesheets/lobbystyle.css')
  link(rel='stylesheet' href='../stylesheets/helppage.css')
  script.
    function scrollToThisDiv(idOfDiv) { console.log("hi", idOfDiv); document.getElementById(idOfDiv).scrollIntoView(); }
  script(src='../javascripts/bgm_player.js' charset='utf8')
  link(rel='icon' type='image/png' sizes='32x32' href='../images/tokens/redicon.png')
  link(rel='icon' type='image/png' sizes='16x16' href='../images/tokens/redicon.png')
  meta(property='og:image' content='https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/og-image.png')
iframe(src="../sounds/silence.mp3" allow="autoplay" id="audio" style="display: none")
#bgmLinker(page="help")
h2#h2top how to play
br
#tableOfContents 
  span(class='tocTitle' onclick="scrollToThisDiv('joinALobby')") 1. join a lobby
  span(class='tocTitle' onclick="scrollToThisDiv('pickYourHeroes')") 2. pick your heroes
  span(class='tocTitle' onclick="scrollToThisDiv('moveYourHero')") 3. move your hero
  span(class='tocTitle' onclick="scrollToThisDiv('selectAnAction')") 4. select an action
  span(class='tocTitle' onclick="scrollToThisDiv('calculatingDamage')") calculating damage
  span(class='tocTitle' onclick="scrollToThisDiv('creatingAnAccount')") creating an account
  span(class='tocTitle' onclick="scrollToThisDiv('scoring')") game scoring
  span(class='tocTitle' onclick="scrollToThisDiv('joiningAGroup')") joining a group
#joinALobby.helpSlide
  h3
    span(style='color: gray;') 1. 
    |  join a lobby 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('h2top')") [back to top]
  p
    | enter a nickname and choose one of four possible lobbies to play in: 
    span(style='color:var(--SERVERCOLOR);') olympia
    | , 
    span(style='color:var(--SERVERCOLOR);') corinth
    |  (60-), 
    span(style='color:var(--SERVERCOLOR);') athens
    |  (45-30), or 
    span(style='color:var(--SERVERCOLOR);') sparta
    |  (15-15).
  p
    | lobbies restrict the amount of time you have to 
    span(style='color:var(--GENERALHIGHLIGHT);') pick heroes
    |  and to 
    span(style='color:var(--GENERALHIGHLIGHT);') play your turn
    | .
  br
  p
    | heroes are randomly assigned to teams in 
    span(style='color:var(--SERVERCOLOR);') olympia
    | , and turns are untimed. assigned teams will have at least one fighter class and at least one healer class.
  p
    span(style='color:var(--SERVERCOLOR);') corinth
    |  gives 60 seconds to pick heroes, and turns are untimed.
  p
    span(style='color: var(--SERVERCOLOR);') athens
    |  gives 45 seconds to pick heroes and 30 seconds per turn.
  p
    span(style='color:var(--SERVERCOLOR);') sparta
    |  gives 15 seconds to pick heroes and 15 seconds per turn.
  br
  p
    | once you join a lobby, you can 
    span(style='color:var(--GENERALHIGHLIGHT);') challenge 
    | other players in that lobby to a game. 
  p
    | note that 
    span(style='color:var(--GENERALHIGHLIGHT);') disconnecting 
    | after a match starts (e.g. wi-fi disconnecting, closing the window, or refreshing the page) gives your opponent the choice to claim victory or to wait for you to return.
  p
    | if both players disconnect, the match is won by the second player to disconnect, or by neither player if that cannot be determined.
  p
    | after a mutual disconnection, both players will be returned to the lobby page.
#pickYourHeroes.helpSlide
  h3
    span(style='color: gray;') 2. 
    |  pick your heroes 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('h2top')") [back to top]
  p
    | pick up to five hero cards by clicking in the 
    span(style='color:var(--GENERALHIGHLIGHT);') index
    |  to bring a card into your 
    span(style='color: var(--GENERALHIGHLIGHT);') deck
    | .
  p
    | you can view hero details by hovering over any card with your mouse, and you can click on any card in your deck to return it to the index.
  p
    | there are seven available hero classes: 
    span(style='color:var(--MELEE);') melee
    |  and 
    span(style='color:var(--RANGED);') ranged
    |  fighters, 
    span(style='color:var(--PROTECTOR);') protectors
    |  and 
    span(style='color:var(--HEALER);') healers
    | , 
    span(style='color:var(--SUPPORTER);') supporters
    |  and 
    span(style='color:var(--CASTER);') casters
    | , and 
    span(style='color:var(--SPECIAL);') special
    |  heroes.
  p
    | classes can be 
    a(href='/preview' target='_blank' style='color: gray; text-decoration: underline;') previewed
    |  at any time.
  ul
    li
      p
        span(style='color:var(--MELEE);') melee
        |  and 
        span(style='color:var(--RANGED);') ranged
        |  fighters tend to have higher 
        span(style='color:var(--STATNAME);') attack
        |  (ATK) and primarily do damage through autoattacks and abilities.
    li
      p
        span(style='color:var(--PROTECTOR);') protectors
        |  focus on absorbing damage or increasing the 
        span(style='color:var(--STATNAME);') defense
        |  (DEF) of allies, while the main purpose of 
        span(style='color: var(--HEALER);') healers
        |  is to restore allies&apos; 
        span(style='color:var(--STATNAME);') health points
        |  (HP).
    li
      p
        span(style='color:var(--SUPPORTER);') supporters
        |  boost allies&apos; stats and bestow various blessings, while 
        span(style='color:var(--CASTER);') casters
        |  impair enemies and worsen enemy stats.
    li
      p
        span(style='color:var(--SPECIAL);') special
        |  heroes use unique abilities to affect the outcome of the game.
  p
    | if you haven&apos;t picked any heroes when the allotted time is up, you and your opponent will be returned to the lobby.
#moveYourHero.helpSlide
  h3
    span(style='color: gray;') 3. 
    |  move your hero 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('h2top')") [back to top]
  p each player has two turns per round.
  p
    | on your turn, click one of your 
    span(style='color: var(--GENERALHIGHLIGHT);') tokens&nbsp;
    | on the map to move it, and click again to place it.
  p
    i
      | note that clicking the same tile again will keep the token in the same position for the turn. to unselect a tile, press 
      span(style='color:var(--KEYCODE);') c
      |  instead.
  p
    | the maximum distance that you can move the token depends on the hero&apos;s 
    span(style='color:var(--STATNAME);') movement
    |  (MVT) stat.
  br
  p
    | at any point, you can press 
    span(style='color:var(--KEYCODE);') z
    |  and 
    span(style='color:var(--KEYCODE);') x
    |  to decrease/increase the 
    span(style='color: var(--GENERALHIGHLIGHT);')  preview radius
    | , which appears when you hover your cursor over a game tile.
  p
    | the preview radius can be useful as a tool for measuring tile distances on the grid.
#selectAnAction.helpSlide
  h3
    span(style='color: gray;') 4. 
    |  select an action 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('h2top')") [back to top]
  p
    | the hero&apos;s autoattack will attack all opponents within their 
    span(style='color:var(--STATNAME);') reach&nbsp;
    | (RC).
  p
    | each hero also has a unique 
    span(style='color:var(--SKILLCOLOR);') ability
    |  consuming 200 
    span(style='color:var(--STATNAME);') mana points
    |  (MP), and an 
    span(style='color:var(--SKILLCOLOR);') ultimate
    |  consuming 1000 MP.
  p
    | all heroes gain a certain amount of MP after each turn, and generally can accumulate up to 1000 MP.
  p
    | in addition to an ability and an ultimate, each hero has a&nbsp;
    span(style='color: var(--SKILLCOLOR);') passive
    |  skill that is automatically applied each turn.
  p
    | ability, ultimate, and passive descriptions can be 
    a(href='/preview' target='_blank' style='color: gray; text-decoration: underline;') previewed
    |  at any time.
#calculatingDamage.helpSlide
  h3 calculating damage 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('h2top')") [back to top]
  p
    | the base amount of damage done is usually calculated with the hero&apos;s ATK divided by their opponent&apos;s DEF.
  p there are six status effects that modify the base amount of damage:
  ol
    li
      span(style='color:var(--STATUSEFFECTCOLOR);') charmed:
      |  the hero&apos;s DEF is reduced by 50%.
    li
      span(style='color:var(--STATUSEFFECTCOLOR);')  distracted:
      |  the hero is prevented from gaining MP, and DEF is reduced by 25%.
    li
      span(style='color:var(--STATUSEFFECTCOLOR);')  poisoned:
      |  the hero will obtain 800/DEF damage each turn.
    li
      span(style='color:var(--STATUSEFFECTCOLOR);')  stunned:
      |  the hero&apos;s ATK and MVT are reduced to zero, and RC is reduced to one.
    li
      span(style='color:var(--STATUSEFFECTCOLOR);')  terrified:
      |  the hero&apos;s ATK is reduced by 50%.
    li
      span(style='color:var(--STATUSEFFECTCOLOR);')  obscured:
      |  the hero&apos;s location is not visible to the opponent.
  p
    | as an example, a terrified hero with ATK=2000 would deal (2000/10)/2=100 HP of damage to a hero with DEF=10.
  p
    | status effects typically persist for 4 turns; repeated applications will stack by duration. status effects can be removed by certain heroes.
  p
    span(style='color: var(--GENERALHIGHLIGHT);') true
    |  damage is applied directly and is not affected by hero stats or statuses.
  br
  p
    | heroes are defeated when their HP reaches zero. a hero&apos;s passive becomes inactive once they are defeated.
  p
    | mythomagic is won when all enemy heroes have been defeated, or when your opponent concedes.
#creatingAnAccount.helpSlide
  h3 creating an account 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('h2top')") [back to top]
  p
    | if you have an 
    span(style='color: var(--GENERALHIGHLIGHT);') invitation code
    | , you can create an account.
  p
    | your account 
    span(style='color: var(--GENERALHIGHLIGHT);') username
    |  reserves a nickname for your usage and assigns you an invitation code that can be used up to five times.
  p
    | please 
    b do not create multiple accounts
    |  to gain more invitation codes: your account (and all resulting accounts) will eventually be removed.
  p
    | accounts track your wins and losses across games and calculate your 
    span(style='color: var(--GENERALHIGHLIGHT);') player score, 
    | which is used to determine your 
    span(style='color: var(--GENERALHIGHLIGHT);') class 
    | and 
    span(style='color: var(--GENERALHIGHLIGHT);') ranking.
  br
  p
    | guest players are shown with 
    span(style='color: var(--NOTIER);') green 
    | names in the lobby.
  p
    | if a player is logged in, their name in the lobby will be colored according to their current 
    span(style='color: var(--GENERALHIGHLIGHT);') class.    
  p
    span(style='color: var(--GENERALHIGHLIGHT);') classes
    |  are assigned based on your score: 
    span(style='color: var(--IRON);') iron
    | , 
    span(style='color: var(--BRONZE);') bronze
    |  (&gt;15.00), 
    span(style='color: var(--SILVER);') silver
    |  (&gt;20.00), 
    span(style='color: var(--GOLD);') gold
    |  (&gt;30.00), 
    span(style='color: var(--GRANDMASTER);') grandmaster
    |  (&gt;40.00).
  p
    | you can also hover over a name in the lobby to have the score and class shown as text.
#scoring.helpSlide
  h3 game scoring 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('h2top')") [back to top]
  p
    | scores are only recorded while you are logged in.
  p
    | your player score is initialized to be 
    span(style='color: var(--GENERALHIGHLIGHT);') 10.00.
  p
    | winning a game against a logged-in player grants you 
    span(style='color: var(--GENERALHIGHLIGHT);') 1.00 
    | plus 
    span(style='color: var(--GENERALHIGHLIGHT);') 10% 
    | of your opponent&apos;s score.
  p at most 
    span(style='color: var(--GENERALHIGHLIGHT);') 10.00 
    | points can be gained per match.
  p
    | losing a game removes 
    span(style='color: var(--GENERALHIGHLIGHT);') 10% 
    | of your own score.
  p
    | surrendering a game after pick phase completes counts as your opponent's win.
#joiningAGroup.helpSlide
  h3 joining a group 
    span(style='font-size:12px;font-weight:normal;color:var(--BACKTOTOP);' onclick="scrollToThisDiv('h2top')") [back to top]
  p
    | after logging in, your account login box will display a space where you can type in the name of your desired 
    span(style='color: var(--GENERALHIGHLIGHT);') group.
  p
    | once you've joined a group, you'll see a list of all of your group members, as well as their scores and win counts.
  p
    | the sum of the group members' scores is the 
    span(style='color: var(--GENERALHIGHLIGHT);') group score, 
    | which is used to determine group rankings.
br
br
br
hr(style='border:1px solid rgba(255,255,255,0.2); width:400px;')
br
p#credsFixed
  a#betaVersion beta version 1.5.0 - 
  a(href='https://forms.gle/p9WZHYcC2gUuW6LG6' target='_blank') support form
  br
  br
  | a portfolio project inspired by 
  a(href='https://en.wikipedia.org/wiki/List_of_Greek_mythological_figures' target='_blank') greek mythology 
  br
  | and 
  a(href='https://riordan.fandom.com/wiki/Mythomagic' target='_blank') mythomagic 
  | from the 
  a(href='https://rickriordan.com/series/percy-jackson-and-the-olympians/' target='_blank') percy jackson series 
  | &#x2646;
  br
  br
  | made by 
  a(href='https://github.com/miya7090/' target='_blank') miya7090
  |  - view 
  a(href='https://github.com/miya7090/mythomagic' target='_blank') source code
  |  on github
  br
  |  icons from 
  a(href='https://www.flaticon.com/authors/freepik' target='_blank') freepik on flaticon
  | ,
  |     bgm from 
  a(href='https://www.youtube.com/c/TheSeventhMidnight/' target='_blank') the seventh midnight
  br
  |  sound effects from 
  a(href='https://github.com/miya7090/' target='_blank') miya7090
  | , 
  a(href='https://www.youtube.com/channel/UCBlyQ5LHho5o7JQE1WocXuQ' target='_blank') cpht fluke
  | , and 
  a(href='https://www.youtube.com/channel/UCLfn0jnl1ye_AkuSeu5l3Uw' target='_blank') alan dalcastagne
  br
  br
  | contact: fanmade
  // no bots please
  | mythomagic
  | [at]
  // no bots please
  | gmail [dot] com
