doctype html
head
  meta(charset='utf8')
  title mythomagic - lobby
  meta(name='description' content='ancient greek gaming')
  meta(name='keywords' content='mythomagic')
  link(rel='stylesheet' href='../stylesheets/game.css')
  link(rel='stylesheet' href='../stylesheets/boards.css')
  link(rel='stylesheet' href='../stylesheets/lobbystyle.css')
  link(rel='stylesheet' href='../stylesheets/fireflies.css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='/socket.io/socket.io.js' charset='utf8')
  script(src='../javascripts/models.js' charset='utf8')
  script(src='../javascripts/config.js' charset='utf8')
  script(src='../javascripts/graphichelpers.js' charset='utf8')
  script(src='../javascripts/socket_lobby.js' charset='utf8')
  script(src='../javascripts/mobile_versionify_lobby.js' charset='utf8')
  script(src='../javascripts/bgm_player.js' charset='utf8')
  link(rel='icon' type='image/png' sizes='32x32' href='../images/tokens/redicon.png')
  link(rel='icon' type='image/png' sizes='16x16' href='../images/tokens/redicon.png')
  meta(property='og:image' content='https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/og-image.png')
iframe(src="../sounds/silence.mp3" allow="autoplay" id="audio" style="display: none")
#bgmLinker(page="lobby")
#loginBox
  label username: 
  input#username(type='text' maxlength='16')
  br
  label password: 
  input#password(type='password' maxlength='30')
  br
  i (uses cookies) 
  input#loginButton(type='button' value='login')
  br
  br
  label email: 
  input#email(type='text')
  br
  label code: 
  input#inviteCode(type='text' maxlength='30')
  br
  input#createAccountButton(type='button' value='create account')
h1#bigTitle mythomagic
#gameStart
  form#gameform(method='POST' action='/game')
    label(for='nickname') enter nickname: 
    input#nickname(type='text' name='nickname' maxlength='10' onkeydown=" if(event.keyCode==13){ $('#lobbyJoinButton').focus(); event.preventDefault(); }")
    br
    br
    div#regionselect
      select#region(name='region')
        option(value='olympia') olympia
        option(value='corinth') corinth (60-)
        option(value='athens') athens (45-30)
        option(value='sparta') sparta (15-15)
      input#lobbyJoinButton(type='button' value='join waiting lobby')
      input#lobbyLeaveButton(type='button' value='leave lobby' hidden)
      p#queueNotes &nbsp;
  div#regiondisplay
    p#regionlabel
    div#lobbiersinregion
  br
  br
br
br
br
#leaderboard
  h2#leaderboardTitle leaderboard
  #groupAndPlayerTables
    table#groupboardTable
      tr
        th
        th Top Groups
      tr
        td 1
        td
      tr
        td 2
        td
      tr
        td 3
        td.
      tr
        td 4
        td
      tr
        td 5
        td
    br
    br
    table#playerboardTable
      tr
        th
        th Top Players
      tr
        td 1
        td
      tr
        td 2
        td
      tr
        td 3
        td
      tr
        td 4
        td
      tr
        td 5
        td
  h2#leaderboardTitle hero rankings
  a(href="/preview" target="_blank") view all card details
  br
  br
  table#leaderboardTable
    tr
      th
      th All Regions
      th Olympia
      th Corinth
      th Athens
      th.forceRightCol Sparta
    tr.highlightTopTR
      td 1
      td#topTopTR database is still loading...
      td
      td
      td
      td.forceRightCol
    tr
      td 2
      td (try waiting a minute then refreshing)
      td
      td
      td
      td.forceRightCol
    tr
      td 3
      td.
      td
      td
      td
      td.forceRightCol
    tr.highlightTR
      td 4
      td
      td
      td
      td
      td.forceRightCol
    tr.highlightTR
      td 5
      td
      td
      td
      td
      td.forceRightCol

      //socket.on("requestGuildAndPlayerStats", () => {
  //io.to(socket.id).emit("guildplayerboardUpdate", undefined);
   db.collection('login').aggregate([{$group: { _id: "$guild", guildScore: { $sum: "$score" }, totalWins: { $sum: ["$wins.olympia","$wins.corinth","$wins.athens","$wins.olympia"] }}}]).sort({guildScore:-1}).limit(5).toArray().then((res) => {
     io.to(socket.id).emit("guildplayerboardUpdate", res);*/
//});