doctype html
head
  meta(charset='utf8')
  title mythomagic
  meta(name='description' content='ancient greek gaming')
  meta(name='keywords' content='mythomagic')
  link(rel='stylesheet' href='../stylesheets/lobbystyle.css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='/socket.io/socket.io.js' charset='utf8')
  script(src='../javascripts/socket_lobby.js' charset='utf8')
  link(rel="icon" href="https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/favicon/favicon.ico" type="image/x-icon")
h2 mythomagic
br
#playersInRegion
#gameStart
  form#gameform(method='POST' action='/game')
    label(for='nickname') nickname 
    input#nickname(type='text' name='nickname' maxlength='10' onkeydown=" if(event.keyCode==13){ $('#lobbyJoinButton').focus(); event.preventDefault(); }")
    a(href="../help.html" target="_blank") how to play
    br
    br
    input#cp1(type='checkbox' name='cp1' checked='' disabled='')
    label(for='cp1') use default card pack <a href="/preview" target="_blank">(preview available cards)</a>
    br
    br
    div#regionselect
      select#region(name='region')
        option(value='corinth') corinth (60-)
        option(value='athens') athens (45-25)
        option(value='olympia') olympia (20-15)
        option(value='sparta') sparta (10-10)
      input#lobbyJoinButton(type='button' value='join lobby')
      input#lobbyLeaveButton(type='button' value='leave lobby' hidden)
      p#queueNotes &nbsp;
  div#regiondisplay
    p#regionlabel
    div#lobbiersinregion
  br
  br
p#credsFixed
  | made with javascript - view 
  a(href='https://github.com/miya7090/mythomagic' target='_blank') source code
  |  on github
  br
  |     inspired by 
  a(href='https://riordan.fandom.com/wiki/Mythomagic' target='_blank') mythomagic
  |     from the 
  a(href='https://rickriordan.com/series/percy-jackson-and-the-olympians/' target='_blank') percy jackson series
  |  &#x2646;
  br
  |     icons from 
  a(href='https://www.flaticon.com/authors/freepik' target='_blank') freepik on flaticon
  | ,
  |     bgm by 
  a(href='https://www.youtube.com/c/TheSeventhMidnight/' target='_blank') the seventh midnight
  | , sound effects by 
  a(href='https://www.youtube.com/channel/UCBlyQ5LHho5o7JQE1WocXuQ' target='_blank') cpht fluke
