doctype html
head
  meta(charset='utf8')
  title mythomagic - index
  meta(name='description' content='ancient greek gaming')
  meta(name='keywords' content='mythomagic')
  link(rel='shortcut icon' href='../images/tokens/redicon.png')
  link(rel='stylesheet' href='../stylesheets/game.css')
  link(rel='stylesheet' href='../stylesheets/tiles.css')
  link(rel='stylesheet' href='../stylesheets/tokens.css')
  link(rel='stylesheet' href='../stylesheets/cards.css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='/socket.io/socket.io.js' charset='utf8')
  script(src='../javascripts/bgm_player.js' charset='utf8')
  script(src='../javascripts/config.js' charset='utf8')
  script(src='../javascripts/models.js' charset='utf8')
  script(src='../javascripts/graphichelpers.js' charset='utf8')
  script(src='../javascripts/gamelogichelpers.js' charset='utf8')
  script(src='../javascripts/mathhelpers.js' charset='utf8')
  script(src='../javascripts/preview.js' charset='utf8')
  link(rel='icon' type='image/png' sizes='32x32' href='../images/tokens/redicon.png')
  link(rel='icon' type='image/png' sizes='16x16' href='../images/tokens/redicon.png')
  meta(property="og:title" content="mythomagic - card index")
  meta(property='og:image' content='https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/og-image.png')
#bgmLinker(page="preview")
br
h1(style="text-align:center") index
.navigationDiv
  a(id="playGameForward" class='navigationButton' style="position:absolute;right:90px;top:0px;" href="/help") instructions
  a(id="playGameForward2" class='navigationButton' style="position:absolute;right:0px;top:0px;" href="/lobby") play game
  a(class='navigationButton' style="position:absolute;left:0px;top:0px;" href="/") back to main menu
br
.wrapper
  .player
    #gameInfoBox.hoverInfo.fixHoverWidth(style="margin:auto; background-color: rgba(255,255,255,0.05); padding: 10px; border-radius: 5px;")
  br
  p#availHeroTitle(style='margin-left:20px;') all available heroes (loading...)
  #myAvailableCards.cards
  .classCardWrapper
    .classCard
      div
        p.hc-Melee.classCardTitle melee
        #meleeGroup.cards
    .classCard
      div
        p.hc-Ranged.classCardTitle ranged
        #rangedGroup.cards
    .classCard
      div
        p.hc-Supporter.classCardTitle supporter
        #supporterGroup.cards
    .classCard
      div
        p.hc-Caster.classCardTitle caster
        #casterGroup.cards
    .classCard
      div
        p.hc-Protector.classCardTitle protector
        #protectorGroup.cards
    .classCard
      div
        p.hc-Healer.classCardTitle healer
        #healerGroup.cards
    .classCard
      div
        p.hc-Special.classCardTitle special
        #specialGroup.cards