doctype html
head
  meta(charset='utf8')
  title mythomagic - terms of use
  meta(name='description' content='ancient greek gaming')
  meta(name='keywords' content='mythomagic')
  link(rel='shortcut icon' href='../images/tokens/redicon.png')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='/socket.io/socket.io.js' charset='utf8')
  link(rel='icon' type='image/png' sizes='32x32' href='../images/tokens/redicon.png')
  link(rel='icon' type='image/png' sizes='16x16' href='../images/tokens/redicon.png')
  meta(property="og:title" content="mythomagic - terms of use")
  meta(property='og:image' content='https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/og-image.png')
h1 Terms of Use
p
  i last updated 7/22/2022
p
  b please read these Terms of Use ("Terms") carefully before using this website. by using this website, you agree to these Terms. if you disagree with any part of these Terms, you may not access this website.
p the website that these Terms govern, mythomagic.herokuapp.com, is a personal project and a work in progress. as such, these Terms are currently non-comprehensive. please keep this in mind as you read these Terms.
p this website may also be referred to as the "App" or "Application" in these Terms, and the "Developer" of the App refers to the github user miya7090 who created the App.
h3 section 1
p general rules for users are defined in this section. failure to follow any of these rules may result in termination of your account as well as investigation and termination of any other accounts deemed "relevant" by the Developer.
p "relevant" accounts may or may not include the parent account (that generated the invitation code inviting the to-be-terminated account), and may or may not include child accounts (that have been created by the invitation code associated with the to-be-terminated account), and may or may not include parent accounts of the parent account, and may or may not include child accounts of any child accounts.
p rules for usage of the App are as follows:
li each person using the App may create no more than one account on the App, unless given written permission by the Developer.
li
  | accounts, invitation codes, and any digital information related to the App 
  b may not be used for any commercial purposes.
li you may not use offensive, obscene, inappropriate, or objectionable language anywhere in the App, including but not limited to as a username or as a group name.
li you must be lawfully allowed to enter any information that you enter into the App, and you must have the rights to that information.
li
  | you must not attempt to circumvent any restrictions or prohibitions of the App, and you must avoid any legally significant malicious behavior towards the App and its users.
h3 section 2
p the App is highly experimental and the Developer most definitely cannot make any guarantee against any loss or corruption of data. the Developer is not responsible for information or content uploaded or otherwise entered into the App. all content uploaded or entered into the App solely remains the responsibility of the user.
p
  | the App is a work in progress with many faults and defects. the App may encounter technical errors which may have unpredictable consequences. 
  b by using the App, you acknowledge this risk 
  | and agree not to hold the Developer responsible for any such consequences. the Developer is in no way responsible for damage or loss in connection with the use of the App.
p the App contains links to third-party websites not controlled by the Developer. the Developer is in no way responsible for damage or loss in connection with the use of these websites.
p creating an account and entering information into the App is entirely at the discretion of the user. creating an account and entering information is not required to play the game associated with the App. users of the App must be at least 18 years old or have a legal guardian's supervision.
p
  | you grant the App the right and license to use, modify, and publicly display any information that you enter into the App, with the exception of the "email" and "password" fields associated with an account, which will not be publicly displayed, and which will be attempted to be kept private to the utmost of the Developer; however, the Developer cannot guarantee the security or privacy of any information entered into the App. 
  b by using the App, you acknowledge this risk.
h3 copyright policy and acknowledgments
p
  | the Developer respects the intellectual property rights of others and will do their utmost to respond to any claim of copyright infringement or other intellectual property infringement.
p
  | notices of infringement must be sent to the email address 
  i fanmademythomagic [at] gmail [dot] com 
  | and must include a detailed description of the alleged infringement as per DMCA legal requirements.
p
  | the Developer would like to acknowledge the board game Mythomagic appearing in the Percy Jackson and the Olympians book series written by Rick Riordan as the namesake for this project and as inspiring the basic premise of a board game revolving around Greek mythology.
p
  | the game rules of the App were invented by the Developer. source code for the App was written solely by the Developer with the exception of certain external libraries, and with the exception of minor sections of the code. technical credits and details of the App's implementation can be viewed on the github repository associated with the project. the Developer retains the right to the source code that they have written.
p
  b the App is a personal hobby project and purely noncommercial. 
  | the objective of the App is to provide a fun and interactive experience of classical Greek mythology to any users as well as to the Developer themselves, and thus is intended to be used for 
  b educational 
  | purposes; the app has also been personally educational to the Developer as a lesson in programming and coding.
p
  | icons, background music, and sound effects for the App are sourced externally, and are accordingly given attribution on the main page of the App.
h3 changes to the Terms of Use
p
  | the Developer reserves the right to change these Terms at any time at their own discretion. given that the App and these Terms are a work in progress, notice to the users of the App may or may not be given.