doctype html
head
  meta(charset='utf8')
  title victory!
  meta(name='description' content='ancient greek gaming')
  meta(name='keywords' content='mythomagic')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='stylesheet' href='../stylesheets/lobbystyle.css')
  link(rel='stylesheet' href='../stylesheets/entrypage.css')
  link(rel='stylesheet' href='../stylesheets/fireflies.css')
  script(type="module" src="../gsap/all.js")
  script(type="module" src='../javascripts/fireflyAnim.js' charset='utf8')
  script(src='../javascripts/bgm_player.js' charset='utf8')
  script.
    document.addEventListener("DOMContentLoaded", () => {
      const urlParams = new URLSearchParams(window.location.search);
      document.getElementById("gameCompleteDetails").innerText = "you have defeated " + urlParams.get("opponent") + "!";
    });
  link(rel='apple-touch-icon' sizes='180x180' href='../images/favicon/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='../images/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='../images/favicon/favicon-16x16.png')
  link(rel='manifest' href='../images/favicon/site.webmanifest')
iframe(src="../sounds/silence.mp3" allow="autoplay" id="audio" style="display: none")
#bgmLinker(page="victory")
#app
#banner
  img.laurel_completeBG(src='https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/laurels/bronze-laurel.svg')
  img.token_completeBG(src='https://raw.githubusercontent.com/miya7090/mythomagic/main/public/images/tokens/whitetoken.png')
  p.tier_text victory
  #buttons(bHeight="low")
    a(class='entryButton' href='/lobby') return to lobby
    a(class='entryButton' href='/') back to main menu
  p#gameCompleteDetails loading...