/* CARD AREA RULES */

.cards {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 125px;
    background-color: rgba(146, 146, 146, 0.4);
    border-radius: 5px;
    box-shadow: 0 0 8px 5px rgba(146, 146, 146, 0.15);
}

#onFieldCards {
    background-color: var(--p1CardAreaBGColor);
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    overflow: overlay;
}

#enemyCardReference {
    background-color: var(--p2CardAreaBGColor);
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    overflow: overlay;
}

/* BASECARD AREA: EXTRA RULES */

#myAvailableCards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    overflow: overlay;
}

.classCardWrapper {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    margin: 20px;
    
    display: flex;
    flex-wrap: wrap;
}

.classCard {
    width: 350px;
}

.classCard .cards { /* preview page */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    overflow: overlay;
}

.classCardTitle {
    margin-left: 20px;
}

::-webkit-scrollbar { height: 8px; width: 8px; }
::-webkit-scrollbar-track { background: rgba(0,0,0,0); }
::-webkit-scrollbar-thumb { border-radius: 5px; background: rgba(255,255,255,0.2); }
::-webkit-scrollbar-thumb:hover { background: rgba(255,255,255,0.3); }

/* CARD RULES */
  
.card {
    flex: 0 0 auto;
    float: left;
    margin-top: 13px;
    margin-left: 11px;
    width: 60px;
    height: 90px;

    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.6);
    overflow: visible;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.deadCard {
    background-color: rgba(180, 180, 180, 0.5);
}

/* BASECARD STYLING */

.baseCardName{
    pointer-events: none;
    margin-top:5px;
    margin-bottom:0px;
}

.card[acChosen=true]{
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(107, 107, 107, 0.4);
}
  
.smallestFont{
    margin-top: 7px;
    font-size:10px;
}
  
.smallFont{
    margin-top: 6px;
    font-size:12px;
}

.smallestFontGC{
    font-size:10px;
}
  
.smallFontGC{
    font-size:12px;
}

.baseCardImgHolder{
    pointer-events: none;
    position: relative;
}
  
.baseCardImg1{
    position: absolute;
    top:5px;
    left:4px;
    width: 85%;
    filter: invert(1.0) blur(5px);
}
  
.baseCardImg2{
    margin-top:5px;
    width: 85%;
    opacity: 50%;
}

/* GAMECARD STYLING */

.barPreviewContainer {
    pointer-events: none;
    width: 100%;
    font-size: 10px;
    text-align: center;
    background-color: #ddd;
    opacity: 80%;
}
  
.hpBar { background-color: #04AA6D; }
.manaBar { background-color: #5e6bff; }

.deadCard .barPreviewContainer { background-color: rgba(255,255,255,0.2); }

.statIconWrap {
    margin-top: 4px;
}

.statIcon {
    position: relative;
    float: left;
    margin: 0px;
    overflow: visible;
}

.statIconPic {
    width: 14px;
    height: 14px;
}

.statIcon:hover .statIconTooltip {
    visibility: visible;
}

.statIcon:active {
	pointer-events: none;
}

.statIconTooltip {
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: 10px;
  
    font-size: 10px;
    width: 150px;
    white-space: pre-line;
    text-align: left;
    padding: 1px 5px;
    border-radius: 6px;
  
    z-index: 10;

    color: black;
    background-color: rgba(255,255,255,0.7);
}

/* CARD COLORING RULES */

.card:hover { background-color: rgba(255, 255, 255, 0.7); }
.card:hover p { opacity: 100%; color: black; }
.card:hover .baseCardImg1 { opacity: 80%; }
.card:hover .baseCardImg2 { opacity: 80%; }
.card:hover .barPreviewContainer { opacity: 100%; }