:root {
  --normalTile: rgba(59,68,63,0.9); /* black olive */
  --highlightedTile: rgba(121, 137, 127, 0.8); /* ash gray */
  --default_highlightedTile: rgba(187, 195, 190, 0.8); /* ^ ash gray */

  --autoattackHighlightedTile: #522520;
  --rangeHighlightedTile: #522520;
  --aimingReachHighlightedTile: #522520;
  --aimingHighlightedTile: rgba(190, 103, 71, 0.8); /* copper red */

  --offgridTile: rgba(0, 0, 0, 0.4);
  --highlightedOffgrid: rgba(0, 0, 0, 0.9);
  --default_highlightedOffgrid: rgba(0, 0, 0, 0.9);
  --rangeHighlightedOffgrid: #341613;
  --aimingReachHighlightedOffgrid: #341613;
  --aimingHighlightedOffgrid: rgba(190, 103, 71, 0.4); /* copper red */

  --animAtkHit: #522520;
  --animHealHit: #522520;
  --animAtkInRange: #522520;

  --p2ActionTextColor: #a4d1a6;
  --p2PassiveTextColor: #699d7a;
  --p1ActionTextColor: #d3968e; /* pastel pink, from medium carmine */
  --p1PassiveTextColor: #bb6a60; /* copper penny, from medium carmine */
  --p0ActionTextColor: #c2c2c2; /* lilac luster, from twilight lavender */
  --p0PassiveTextColor: #898989; /* mountbatten pink, from twilight lavender */

  --p2FontColor: #87c38a;
  --p1FontColor: #db7f5a; /* chestnut, previously #A44A3F medium carmine */
  --p0FontColor: #ffffff; /* twilight lavender */
  --p1CardAreaBGColor: rgba(61, 24, 0, 0.5); /* black bean */
  --p2CardAreaBGColor: rgba(19, 45, 25, 0.5); /* dark purple */
  --p1TooltipBGColor: rgba(41, 21, 10, 0.9); /* seal brown darkened */
  --p2TooltipBGColor: rgba(19, 32, 21, 0.9); /* dark purple darkened */
  
  --p1TokenColor: #5D2400;
  --p2TokenColor: #334936; /* palatinate purple */
  --p1TokenHoverColor: rgb(52, 21, 9); /* chestnut, previously #A44A3F medium carmine */
  --p2TokenHoverColor: #103417; /* twilight lavender */

  --powerBox: #32393072;

  --MELEE: rgb(214, 115, 115);
  --RANGED: rgb(228, 159, 56);
  --PROTECTOR: rgb(191, 194, 99);
  --HEALER: rgb(117, 189, 113);
  --SUPPORTER: rgb(94, 169, 231);
  --CASTER: rgb(120, 125, 245);
  --SPECIAL: rgb(156, 103, 182);
}

@font-face {
  font-family: "regularFont";
  src: url("../fonts/DalekPinpointBold.ttf");
}

/* GENERAL RULES */

body {
  margin: 20px;
  
  background: url("../images/forestbg.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(0,0,0,0.2);
  background-blend-mode: darken;

  font-family: "regularFont";
  font-size: 14px;
  color: rgb(255,255,255);
}

.player { display: flex; }
.leftcolumn { width: 380px; }
.rightcolumn {
  margin-left: 10px;
  width: calc(100% - 420px);
}

/* POWER BOX RULES */

.powerbox {
  margin-top: 24px;
  margin-left: 5px;
  margin-right: 10px;
  height: 80px;
  background-color: var(--powerBox);
  box-shadow: inset 1px 1px 2px 2px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  -webkit-appearance: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4); /* Green */
  color: white;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 16px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 1.0);
}

.button:disabled {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255,255,255,0.1);
}

/* FOOTER RULES */

.lowerPageText{
  position: fixed;
  bottom: 8px;
  z-index: 3;
}

.lowerPageText p{
  margin:0px;
}

#playerTurn {
  color: #ff9865; /* naples yellow */
  font-size: 24px;
}

#previewRadius {
  font-size: 12px;
}

#previewRadiusInstructions {
  color:gray;
  font-size: 11px;
}

#mythomagicTitle {
  position: fixed;
  bottom:18px;
  right:8px;
  margin:0px;
  font-size: 40px;
}

#creditText {
  position: fixed;
  bottom:8px;
  right:8px;
  font-size: 12px;
}

#creditText a {
  color: rgba(118, 135, 125, 0.8); /* xanadu */
}

/* INFO BOX RULES */

#gameInfoBox {
  font-family: Georgia;
  overflow-y: scroll;
}

.hoverInfo {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 160px;
}

#hoverInfoTitle {
  font-family: "regularFont";
  font-size: medium;
  color: var(--p0FontColor);
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 2px;
  text-align: left;
}

#hoverInfoClass {
  font-family: "regularFont";
  font-size: medium;
  color: var(--p0FontColor);
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 2px;
  text-align: right;
}

.fixHoverWidth {
  width: 700px;
}

#hoverInfoTitle[p1=true] {
  color: var(--p1FontColor);
}

#hoverInfoTitle[p1=false] {
  color: var(--p2FontColor);
}

.hoverColWrap {
  height:100px;
}

.hoverTitleColumn {
  float: left;
  width: 50%;
}

.hoverColumn {
  float: left;
  width: 33%;
}

.hoverInfo p {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.hoverColumn p {
  margin-left: 10px;
}

.hc-Melee { color: var(--MELEE); }
.hc-Ranged { color: var(--RANGED); }
.hc-Protector { color: var(--PROTECTOR); }
.hc-Healer { color: var(--HEALER); }
.hc-Supporter { color: var(--SUPPORTER); }
.hc-Caster { color: var(--CASTER); }
.hc-Special { color: var(--SPECIAL); }

#hoverInfoClass.hc-Melee { color: var(--MELEE); } /* to override specificity */
#hoverInfoClass.hc-Ranged { color: var(--RANGED); }
#hoverInfoClass.hc-Protector { color: var(--PROTECTOR); }
#hoverInfoClass.hc-Healer { color: var(--HEALER); }
#hoverInfoClass.hc-Supporter { color: var(--SUPPORTER); }
#hoverInfoClass.hc-Caster { color: var(--CASTER); }
#hoverInfoClass.hc-Special { color: var(--SPECIAL); }

.hoverBoxSkill {
  position: relative;
}

.hoverBoxSkill .hoverBoxSkillTooltip {
  pointer-events: none;
  visibility: hidden;
  width: 60px;
  background-color: rgba(33, 33, 33, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 5px;

  position: absolute;
  z-index: 20;
  bottom: 15px;
  right: calc(100% - 80px);
  opacity: 0;
  transition: opacity 0.5s;
}

.hoverBoxSkill:hover .hoverBoxSkillTooltip {
  visibility: visible;
  opacity: 1;
}

#abilityTitle { color: var(--p0ActionTextColor); }
#ultTitle { color: var(--p0ActionTextColor); }
#passiveTitle { color: var(--p0PassiveTextColor); }

#abilityTitle[p1=true] { color: var(--p1ActionTextColor); }
#ultTitle[p1=true] { color: var(--p1ActionTextColor); }
#passiveTitle[p1=true] { color: var(--p1PassiveTextColor); }

#abilityTitle[p1=false] { color: var(--p2ActionTextColor); }
#ultTitle[p1=false] { color: var(--p2ActionTextColor); }
#passiveTitle[p1=false] { color: var(--p2PassiveTextColor); }

.hoverHintSkillText {
  color: rgb(118, 118, 118);
}

#footerFill {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 90px;

  background: url("../images/forestbg.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: darken;

  opacity: 0.9;

  z-index: 1;
}