:root {
  --normalTile: rgba(101, 97, 166, 0.5);
  --highlightedTile: rgba(130, 130, 227, 0.9);
  --default_highlightedTile: rgba(130, 130, 227, 0.9);
  --rangeHighlightedTile: rgba(127, 89, 157, 0.6);
  --aimingReachHighlightedTile: rgba(54, 117, 108, 0.9);
  --aimingHighlightedTile: rgba(34, 156, 152, 0.9);
  --autoattackHighlightedTile: rgba(255, 148, 148, 0.6);

  --offgridTile: rgba(0, 0, 0, 0.4);
  --highlightedOffgrid: rgba(0, 0, 0, 0.9);
  --default_highlightedOffgrid: rgba(0, 0, 0, 0.9);
  --rangeHighlightedOffgrid: rgba(60, 40, 81, 0.9);
  --aimingReachHighlightedOffgrid: rgba(15, 38, 42, 0.8);
  --aimingHighlightedOffgrid: rgba(15, 76, 75, 0.9);

  --animAtkHit: rgb(145, 0, 0);
  --animHealHit: rgb(0, 164, 30);
  --animAtkInRange: rgba(146, 52, 35, 0.9);

  --p0ActionTextColor: rgb(183, 183, 183);
  --p0PassiveTextColor: rgb(143, 143, 143);
  --p1ActionTextColor: rgb(237, 159, 177);
  --p1PassiveTextColor: rgb(209, 124, 134);
  --p2ActionTextColor: rgb(135, 193, 255);
  --p2PassiveTextColor: rgb(96, 165, 243);

  --p0FontColor: rgb(255, 255, 255);
  --p1FontColor: rgb(255, 189, 167);
  --p2FontColor: rgb(167, 223, 255);
  --p1CardAreaBGColor: rgba(37, 0, 0, 0.3);
  --p2CardAreaBGColor: rgba(0, 15, 54, 0.3);
  --p1TooltipBGColor: rgba(100, 0, 0,0.7);
  --p2TooltipBGColor: rgba(9, 39, 114, 0.7);
  
  --p1TokenColor: rgba(86, 1, 1, 0.9);
  --p2TokenColor: rgba(8, 46, 144, 0.9);
  --p1TokenHoverColor: rgba(60, 0, 0, 0.9);
  --p2TokenHoverColor: rgba(5, 35, 111, 0.9);

  --MELEE: rgb(214, 115, 115);
  --RANGED: rgb(228, 159, 56);
  --TANK: rgb(191, 194, 99);
  --HEALER: rgb(117, 189, 113);
  --SUPPORTER: rgb(94, 169, 231);
  --CASTER: rgb(120, 125, 245);
  --SPECIAL: rgb(156, 103, 182);
}

@font-face {
  font-family: "regularFont";
  src: url("../fonts/DalekPinpointBold.ttf");
}

/* GENERAL RULES */

body {
  margin: 20px;
  
  background: url("../images/forestbg.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(0,0,0,0.2);
  background-blend-mode: darken;

  font-family: "regularFont";
  font-size: 14px;
  color: rgb(255,255,255);
}

.player { display: flex; }
.leftcolumn { width: 380px; }
.rightcolumn {
  margin-left: 10px;
  width: calc(100% - 420px);
}

/* POWER BOX RULES */

.powerbox {
  margin-top: 24px;
  margin-left: 5px;
  margin-right: 10px;
  height: 80px;
  background-color: rgba(71, 67, 124, 0.4);
  box-shadow: inset 1px 1px 2px 2px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: rgba(0, 0, 0, 0.4); /* Green */
  color: white;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 16px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 1.0);
}

.button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255,255,255,0.1);
}

/* FOOTER RULES */

.lowerPageText{
  position: fixed;
  bottom: 8px;
}

.lowerPageText p{
  margin:0px;
}

#playerTurn {
  color: rgb(211, 199, 255);
  font-size: 24px;
}

#previewRadius {
  font-size: 12px;
}

#previewRadiusInstructions {
  color:gray;
  font-size: 11px;
}

#mythomagicTitle {
  position: fixed;
  bottom:18px;
  right:8px;
  margin:0px;
  font-size: 40px;
}

#creditText {
  position: fixed;
  bottom:8px;
  right:8px;
  font-size: 12px;
}

#creditText a {
  color: rgb(154, 135, 194);
}

/* INFO BOX RULES */

#gameInfoBox {
  font-family: Georgia;
  overflow-y: scroll;
}

.hoverInfo {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 160px;
}

#hoverInfoTitle {
  font-family: "regularFont";
  font-size: medium;
  color: var(--p0FontColor);
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 2px;
  text-align: left;
}

#hoverInfoClass {
  font-family: "regularFont";
  font-size: medium;
  color: var(--p0FontColor);
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 2px;
  text-align: right;
}

.fixHoverWidth {
  width: 700px;
}

#hoverInfoTitle[p1=true] {
  color: var(--p1FontColor);
}

#hoverInfoTitle[p1=false] {
  color: var(--p2FontColor);
}

#abilityTitle { color: var(--p0ActionTextColor); }
#ultTitle { color: var(--p0ActionTextColor); }
#passiveTitle { color: var(--p0PassiveTextColor); }

#abilityTitle[p1=true] { color: var(--p1ActionTextColor); }
#ultTitle[p1=true] { color: var(--p1ActionTextColor); }
#passiveTitle[p1=true] { color: var(--p1PassiveTextColor); }

#abilityTitle[p1=false] { color: var(--p2ActionTextColor); }
#ultTitle[p1=false] { color: var(--p2ActionTextColor); }
#passiveTitle[p1=false] { color: var(--p2PassiveTextColor); }

.hoverColWrap {
  height:100px;
}

.hoverTitleColumn {
  float: left;
  width: 50%;
}

.hoverColumn {
  float: left;
  width: 33%;
}

.hoverInfo p {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.hoverColumn p {
  margin-left: 10px;
}

.hc-Melee { color: var(--MELEE); }
.hc-Ranged { color: var(--RANGED); }
.hc-Tank { color: var(--TANK); }
.hc-Healer { color: var(--HEALER); }
.hc-Supporter { color: var(--SUPPORTER); }
.hc-Caster { color: var(--CASTER); }
.hc-Special { color: var(--SPECIAL); }

#hoverInfoClass.hc-Melee { color: var(--MELEE); } /* to override specificity */
#hoverInfoClass.hc-Ranged { color: var(--RANGED); }
#hoverInfoClass.hc-Tank { color: var(--TANK); }
#hoverInfoClass.hc-Healer { color: var(--HEALER); }
#hoverInfoClass.hc-Supporter { color: var(--SUPPORTER); }
#hoverInfoClass.hc-Caster { color: var(--CASTER); }
#hoverInfoClass.hc-Special { color: var(--SPECIAL); }
