@font-face {
    font-family: "regularFont";
    src: url("../fonts/DalekPinpointBold.ttf");
}

/* GENERAL RULES */

body {
    margin: 20px;

    background: url("../images/forestbg.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: darken;
    font-family: Georgia;

    font-size: 14px;
    color: rgb(255,255,255);
}

h1,h2 {
    font-family: "regularFont";
    font-size: 30px;
    margin-left: 0px;
    margin-bottom: 10px;
}

h2 {
    font-size: 25px;
}

.navigationDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationButton {
    -webkit-appearance: none;
    cursor: pointer;
    margin: 9px;
    padding: 5px 7px;
    font-family: "regularFont";
    text-decoration: none;
    font-size: 14px;
    color: rgba(255,255,255,0.8);
    background-color: rgba(152, 33, 33, 0.218);
    border: 3px rgba(77, 66, 27, 0.8) solid;
    border-left: 3px rgba(96, 86, 42, 0.8) solid;
    border-top: 3px rgba(137, 116, 59, 0.8) solid;
    text-align: center;
  }
  
  .navigationButton:hover {
    color: white;
    background-color: rgba(152, 33, 33, 0.318);
    border: 3px rgb(77, 66, 27) solid;
    border-left: 3px rgb(96, 86, 42) solid;
    border-top: 3px rgb(137, 116, 59) solid;
  }

#loginColWrap {
    display: flex;
}

.column {
    flex: 50%;
    width: 170px;
    margin-left: 5px;
    margin-right: 5px;
}

#loginBox {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(255,255,255,0.1);
    padding: 10px;
    text-align: right;
    border-left: 3px rgba(71, 71, 71, 0.8) solid;
    border-bottom: 2px rgba(124, 124, 124, 0.8) solid;
}

#pwDiv {
    margin-bottom: 15px;
}

#newPW {
    width: 100px;
}

input,select {
    background-color: rgba(80, 80, 80, 0.5);
    border: none;
    color: white;
    margin: 2px;
    padding: 6px;
    font-family: Georgia;
    font-size: 14px;
}

select {
    -webkit-appearance: none;
    cursor: pointer;
    padding: 8px;
    padding-right: 30px;
    font-size: 14px;
    
    /* source: https://material.io/tools/icons/?icon=keyboard_arrow_down&style=baseline */
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" filter="invert(1.0)" width="24px" height="24px" viewBox="0 0 24 24" xml:space="preserve"><path d="M7.41,8.59L12,13.17l4.59-4.58L18,10l-6,6l-6-6L7.41,8.59z"/><path fill="none" d="M0,0h24v24H0V0z"/></svg>');
    background-position: center right;
    background-repeat: no-repeat;
}

select option{
    background-color: #3a3a3a;
    border: none;
}

input {
    -webkit-appearance: none;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
}

input[type="button"] {
    cursor: pointer;
}

input:disabled {
    background-color: rgba(46, 46, 46, 0.5);
    color: rgba(110, 110, 110, 0.692);
}

input.darkInputBox {
    background-color : rgba(111, 111, 111, 0.5); 
    border: none;
    margin: 3px;
}

button {
    -webkit-appearance: none;
    font-family: "regularFont";
    background-color: rgba(80, 80, 80, 0.5);
    color: white;
}

#betaVersion {
    margin: 0px;
    font-weight: bold;
    color: rgb(255, 230, 148);
}

p {
    margin: 5px;
}

#nickname {
    margin-right: 5px;
}

#regionselect {
    display: flex;
    align-items: center;
}

.iron {
    color: var(--IRON);
}

.bronze {
    color: var(--BRONZE);
}

.silver {
    color: var(--SILVER);
}

.gold {
    color: var(--GOLD);
}

.noTier {
    color: var(--NOTIER);
}

.grandmaster {
    color: var(--GRANDMASTER);
}

.lobbier {
    font-size: 14px;
    line-height: 16px;
    padding: 5px;
    margin: 2px;
}

.lobbierGuild {
    font-size: 12px;
    color: #979797;
}

.lobbier:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.lobbier:disabled {
    opacity: 0.4;
}

#queueNotes {
    margin-left: 5px;
    color: rgb(183, 179, 251);
}

#credsFixed {
    text-align: center;
    font-size: small;
    line-height: 17px;
}

#orientation {
    text-align: center;
}

#orientationText {
    padding: 5px;
    background-color: rgba(255, 240, 168, 0.1);
    border: 2px rgba(255, 255, 255, 0.4) dotted;
}

.lightGray {
    background-color: #efefef32;
}

#credits {
    margin-top: 10px;
    bottom: 0px;
    right: 0px;
    background-color: rgb(248, 248, 248);
    font-size: 10px;
    line-height: 17px;
    padding-left: 5px;
    padding-right: 5px;
}

a{
    color: rgb(237, 197, 133);
    text-decoration: none;
}

::-webkit-scrollbar { height: 8px; width: 8px; }
::-webkit-scrollbar-track { background: rgba(0,0,0,0); }
::-webkit-scrollbar-thumb { border-radius: 5px; background: rgba(255,255,255,0.2); }
::-webkit-scrollbar-thumb:hover { background: rgba(255,255,255,0.3); }