@font-face {
    font-family: "regularFont";
    src: url("../fonts/DalekPinpointBold.ttf");
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

h2 {
    font-family: "regularFont";
}

#regionselect {
    display: flex;
    align-items: center;
}

#queueNotes {
    margin-left: 5px;
    color: red;
}