@font-face {
    font-family: "regularFont";
    src: url("../fonts/DalekPinpointBold.ttf");
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

h2 {
    font-family: "regularFont";
    margin-left: 0px;
}

#nickname {
    margin-right: 5px;
}

#regionselect {
    display: flex;
    align-items: center;
}

#queueNotes {
    margin-left: 5px;
    color: red;
}

#creds {
    position: fixed;
    width: 50%;
    bottom: 0px;
    background-color: rgb(237, 237, 237);
    font-size: small;
}

#credsUnfixed {
    margin-top: 10px;
    width: 50%;
    bottom: 0px;
    background-color: rgb(237, 237, 237);
    font-size: small;
}

a{
    color: rgb(48, 42, 214);
}