:root {
  --normalTile: rgba(54, 71, 253, 0.5);
  --highlightedTileMemory: rgba(59, 59, 240, 0.9);
  --highlightedTileAttack: rgba(36, 125, 170, 0.9);
  --highlightedTile: rgba(59, 59, 240, 0.9);
  --offgridTile: rgba(0, 0, 0, 0.4);
  --highlightedOffgrid: rgba(0, 0, 0, 0.9);
}

@font-face {
  font-family: "regularFont";
  src: url("../fonts/DalekPinpointBold.ttf");
}

/* GENERAL RULES */
body {
  margin: 20px;
  background-image: url("../images/forestbg.jpg");
  background-color: rgba(0,0,0,0.2);
  background-blend-mode: darken;
  font-family: "regularFont";
  font-size: 14px;
  color: rgb(255,255,255);
}

.player {
  display: flex;
}

.leftcolumn {
  width: 380px;
}

.rightcolumn {
  margin-left: 10px;
  width: calc(100% - 420px);
  background-color: rgba(255,255,255,0.05);
  box-shadow:inset 0px 0px 50px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* HEXAGON GAMETILE BASE RULES */
.hexgrid { /* hexagon grid: https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */
  display: flex;
  --s: 25px;  /* size  */
  --m: 2px;    /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}

.container {
  font-size: 0; /*disable white space between inline block element */
  width: 100%;
}

.gameSquare {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547); 
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
  background-color: var(--normalTile);
}

.container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(     
                   #0000 0 calc(var(--f) - 3px),      
                   #000  0 var(--f));
}
  
/* HEXAGON GAMETILE INTERACTION RULES */
.gameSquare[hoverHighlight=true] {
  background-color: var(--highlightedTile);
}

.gameSquare[hoverHighlight=false] {
  background-color: var(--normalTile);
}

.jungle { background-color: rgb(44, 103, 71); }
.water { background-color: rgb(79, 92, 193); }
.sand { background-color: rgb(203, 182, 124); }
.obstacle { background-color: rgb(57, 57, 57); }
.offgrid { background-color: var(--offgridTile); }

.offgrid[hoverHighlight=true] {
  background-color: var(--highlightedOffgrid);
}

.offgrid[hoverHighlight=false] {
  background-color: var(--offgridTile);
}

/* POWER BOX RULES */
.powerbox {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 10px;
  height: 120px;
  background-color: rgba(71, 67, 124, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD AREA BASE RULES */
.cards {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 120px;
  background-color: rgba(146, 146, 146, 0.4);
}

.card {
  margin-top: 7px;
  margin-left: 10px;
  float: left;
  width: 60px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.card[figurine=true] {
  background-color: rgb(89, 83, 125);
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.card:hover p { opacity: 100%; color: black; }
.card:hover .baseCardImg1 { opacity: 80%; }
.card:hover .baseCardImg2 { opacity: 80%; }

.baseCardImgHolder{
  position: relative;
}

.baseCardImg1{
  position: absolute;
  top:5px;
  left:4px;
  width: 85%;
  filter: invert(1.0) blur(5px);
}

.baseCardImg2{
  margin-top:5px;
  width: 85%;
  opacity: 50%;
}

.baseCardName{
  margin-top:5px;
  margin-bottom:0px;
}

.smallFont{
  margin-top: 7px;
  font-size:10px;
}

.hoverInfo {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 160px;
}

/* INFO BOX RULES */
#gameInfoBox {
  font-family: Georgia;
}

#hoverInfoTitle {
  font-family: "regularFont";
  font-size: medium;
  margin-left: 10px;
  margin-bottom: 2px;
}

.hoverColWrap {
  height:100px;
}

.hoverColumn {
  float: left;
  width: 33%;
}

.hoverInfo p {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.hoverColumn p {
  margin-left: 10px;
}

/* HP/mana preview bars */
.barPreviewContainer {
width: 100%;
background-color: #ddd;
}

.hpBar {background-color: #04AA6D; font-size: 11px;}
.manaBar {background-color: #5e6bff; font-size: 11px;}

/* TOKEN BASE RULES */
.player1 {
  border: 1px solid #000000;
  box-sizing: border-box; /* border goes inside box not outside */
}

.player2 {
  border: 2px solid #000000;
  box-sizing: border-box; /* border goes inside box not outside */
}

.token {
  position:relative;
  top: 6px;
  left: 6px;
  width: 14px;
  height: 15px;
  background-color: #84746c;
}

.token[figurine=true] {
  background-color: #ded6c9;
}