:root {
  --normalTile: rgba(54, 71, 253, 0.5);
  --highlightedTile: rgba(93, 93, 255, 0.9);
  --default_highlightedTile: rgba(93, 93, 255, 0.9);
  --rangeHighlightedTile: rgba(127, 89, 157, 0.6);
  --aimingReachHighlightedTile: rgba(54, 117, 108, 0.9);
  --aimingHighlightedTile: rgba(34, 156, 152, 0.9);

  --offgridTile: rgba(0, 0, 0, 0.4);
  --highlightedOffgrid: rgba(0, 0, 0, 0.9);
  --default_highlightedOffgrid: rgba(0, 0, 0, 0.9);
  --rangeHighlightedOffgrid: rgba(60, 40, 81, 0.9);
  --aimingReachHighlightedOffgrid: rgba(15, 38, 42, 0.8);
  --aimingHighlightedOffgrid: rgba(15, 76, 75, 0.9);

  --animAtkHit: rgba(0, 240, 240, 1.0);
  --animAtkInRange: rgba(16, 204, 225, 0.9);
}

@font-face {
  font-family: "regularFont";
  src: url("../fonts/DalekPinpointBold.ttf");
}

/* GENERAL RULES */
body {
  margin: 20px;
  background: url("../images/forestbg.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(0,0,0,0.2);
  background-blend-mode: darken;
  font-family: "regularFont";
  font-size: 14px;
  color: rgb(255,255,255);
}

.player {
  display: flex;
}

.leftcolumn {
  width: 380px;
}

.rightcolumn {
  margin-left: 10px;
  width: calc(100% - 420px);
  background-color: rgba(255,255,255,0.05);
  box-shadow:inset 0px 0px 50px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* HEXAGON GAMETILE BASE RULES */
.hexgrid { /* hexagon grid: https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */
  display: flex;
  --s: 25px;  /* size  */
  --m: 2px;    /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}

.container {
  font-size: 0; /*disable white space between inline block element */
  width: 100%;
}

.gameSquare {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547); 
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
  background-color: var(--normalTile);
}

.container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(     
                   #0000 0 calc(var(--f) - 3px),      
                   #000  0 var(--f));
}
  
/* HEXAGON GAMETILE INTERACTION RULES */
.gameSquare[hoverHighlight=false] { background-color: var(--normalTile); }

.gameSquare[rangeHighlight=true] { background-color: var(--rangeHighlightedTile); }
.gameSquare[aimingReachHighlight=true] { background-color: var(--aimingReachHighlightedTile); }
.gameSquare[hoverHighlight=true] { background-color: var(--highlightedTile); }

.jungle { background-color: rgb(44, 103, 71); }
.water { background-color: rgb(79, 92, 193); }
.sand { background-color: rgb(203, 182, 124); }
.obstacle { background-color: rgb(57, 57, 57); }
.offgrid { background-color: var(--offgridTile); }

.offgrid[hoverHighlight=false] { background-color: var(--offgridTile); }

.offgrid[rangeHighlight=true] { background-color: var(--rangeHighlightedOffgrid); }
.offgrid[aimingReachHighlight=true] { background-color: var(--aimingReachHighlightedOffgrid); }
.offgrid[hoverHighlight=true] { background-color: var(--highlightedOffgrid); }

/* POWER BOX RULES */
.powerbox {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 10px;
  height: 120px;
  background-color: rgba(71, 67, 124, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 1px 1px 2px 2px rgba(0,0,0,0.3);
}

.button {
  background-color: rgba(0, 0, 0, 0.4); /* Green */
  color: white;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 16px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 1.0);
}

.button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255,255,255,0.1);
}

/* footer */
.lowerPageText{
  margin-top: 20px;
  position:relative;
}

.lowerPageText p{
  margin:0px;
}

#playerTurn {
  color: rgb(211, 199, 255);
  font-size: 18px;
}

#previewRadius {
  font-size: 14px;
}

#previewRadiusInstructions {
  color:gray;
  font-size: 12px;
}

#mythomagicTitle{
  position:absolute;
  bottom:0;
  right:8px;
  margin:0px;
  font-size: 40px;
}

/* CARD AREA BASE RULES */
.cards {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 120px;
  background-color: rgba(146, 146, 146, 0.4);
}

.card {
  margin-top: 13px;
  margin-left: 11px;
  float: left;
  width: 60px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

#myAvailableCards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: overlay;
}

#myAvailableCards div {
  flex: 0 0 auto;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(255,255,255,0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.3);
}

.card[figurine=true] {
  background-color: rgb(89, 83, 125);
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.card:hover p { opacity: 100%; color: black; }
.card:hover .baseCardImg1 { opacity: 80%; }
.card:hover .baseCardImg2 { opacity: 80%; }

.baseCardImgHolder{
  position: relative;
}

.baseCardImg1{
  position: absolute;
  top:5px;
  left:4px;
  width: 85%;
  filter: invert(1.0) blur(5px);
}

.baseCardImg2{
  margin-top:5px;
  width: 85%;
  opacity: 50%;
}

.baseCardName{
  margin-top:5px;
  margin-bottom:0px;
}

.smallestFont{
  margin-top: 7px;
  font-size:10px;
}

.smallFont{
  margin-top: 6px;
  font-size:12px;
}

/* INFO BOX RULES */
#gameInfoBox {
  font-family: Georgia;
}

.hoverInfo {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 160px;
}

#hoverInfoTitle {
  font-family: "regularFont";
  font-size: medium;
  color: rgb(167, 223, 255);
  margin-left: 10px;
  margin-bottom: 2px;
}

#hoverInfoTitle[p1=false] {
  color: rgb(255, 189, 167);
}

#abilityTitle,#ultTitle {
  color: rgb(135, 173, 255);
}

#passiveTitle {
  color: rgb(96, 165, 243);
}

.hoverColWrap {
  height:100px;
}

.hoverColumn {
  float: left;
  width: 33%;
}

.hoverInfo p {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.hoverColumn p {
  margin-left: 10px;
}

/* HP/mana preview bars */
.barPreviewContainer {
width: 100%;
background-color: #ddd;
}

.hpBar {background-color: #04AA6D; font-size: 11px;}
.manaBar {background-color: #5e6bff; font-size: 11px;}

/* TOKEN BASE RULES */

.token {
  position:relative;
  top: 3px;
  left: 1px;
  width: 23px;
  height: 23px;
  filter: invert(0.8);
}

.token:hover {
  filter: invert(0.9);
}
