/* TOKEN RULES */

.token {
    pointer-events: none; /* #TODO use this with other stuff as well for easier processing? */
    position:relative;
    top: 4px;
    left: 2px;
    width: 21px;
    height: 20px;
    opacity: 100%;
}

.token.player1 { filter: invert(72%) sepia(25%) saturate(1427%) hue-rotate(300deg) brightness(97%) contrast(102%); } /* https://codepen.io/sosuke/pen/Pjoqqp used to convert black to target color */

.token.player2 { filter: invert(89%) sepia(5%) saturate(6229%) hue-rotate(176deg) brightness(101%) contrast(101%); }

.token[isDefeated=true] { filter: invert(0.0); }

.token[gameCardGlow=true] { filter: invert(1.0); }

.token[isChosen=true] { filter: invert(1.0); }

.token.player2[thisObscured = "1"] { opacity: 0%; }

/* TOKEN TOOLTIP RULES */

.tokenNameTooltip{
    pointer-events: none;
    visibility: hidden;

    position: absolute;
    top: 22px;
    left: 17px;
  
    font-size: 12px;
    text-align: center;
    padding: 1px 5px;
    border-radius: 6px;
  
    z-index: 10;
}
  
.tokenNameTooltip.player1{
    color: var(--p1FontColor);
    background-color: var(--p1TooltipBGColor);
}
  
.tokenNameTooltip.player2{
    color: var(--p2FontColor);
    background-color: var(--p2TooltipBGColor);
}
  
.tileWrap:hover .tokenNameTooltip {
    visibility: visible;
}

.tileWrap:hover .tokenNameTooltip.player2[tooltipObscured = "1"] {
    visibility: hidden;
}