:root {
    --normalTile: rgba(54, 71, 253, 0.5);
    --highlightedTile: rgba(59, 59, 240, 0.9);
    --offgridTile: rgba(0, 0, 0, 0.4);
    --highlightedOffgrid: rgba(0, 0, 0, 0.9);
  }

/* GENERAL RULES */
body {
    margin: 20px;
    background-image: url("forestbg.jpg");
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: darken;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: rgb(255,255,255);
}

.player {
    display: flex;
}
  
.leftcolumn {
    width: 380px;
}

.rightcolumn {
    margin-left: 10px;
    width: calc(100% - 420px);
    background-color: rgba(255,255,255,0.05);
    box-shadow:inset 0px 0px 50px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* HEXAGON GAMETILE BASE RULES */
.hexgrid { /* hexagon grid: https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */
    display: flex;
    --s: 25px;  /* size  */
    --m: 2px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}
  
.container {
    font-size: 0; /*disable white space between inline block element */
    width: 100%;
}
  
.gameSquare {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547); 
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s)*0.2885);
    background-color: var(--normalTile);
}
 
.container::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(     
                     #0000 0 calc(var(--f) - 3px),      
                     #000  0 var(--f));
}
    
/* HEXAGON GAMETILE INTERACTION RULES */
.gameSquare[hoverHighlight=true] {
    background-color: var(--highlightedTile);
}

.gameSquare[hoverHighlight=false] {
    background-color: var(--normalTile);
}

.jungle { background-color: rgb(44, 103, 71); }
.water { background-color: rgb(79, 92, 193); }
.sand { background-color: rgb(203, 182, 124); }
.obstacle { background-color: rgb(57, 57, 57); }
.offgrid { background-color: var(--offgridTile); }

.offgrid[hoverHighlight=true] {
    background-color: var(--highlightedOffgrid);
}

.offgrid[hoverHighlight=false] {
    background-color: var(--offgridTile);
}

/* CARD AREA BASE RULES */
.cards {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 120px;
    background-color: rgba(146, 146, 146, 0.4);
}

.card {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 60px;
    height: 90px;
    background-color: rgb(194, 190, 220);
    overflow: hidden;
}

.card[figurine=true] {
    background-color: rgb(186, 142, 142);
}

.card:hover {
    background-color: rgb(249, 255, 130);
}

.baseCardImg{
    width: 100%;
}

.hoverInfo {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 160px;
}

h3 {
    font-size: medium;
    margin-left: 10px;
    margin-bottom: 2px;
}

.hoverColWrap {
    height:100px;
}

.hoverColumn {
    float: left;
    width: 33%;
}

.hoverInfo p {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.hoverColumn p {
    margin-left: 10px;
}

/* HP/mana preview bars */
.barPreviewContainer {
  width: 100%;
  background-color: #ddd;
}

.hpBar {background-color: #04AA6D; font-size: 11px;}
.manaBar {background-color: #5e6bff; font-size: 11px;}

/* TOKEN BASE RULES */
.player1 {
    border: 2px solid #785788;
    box-sizing: border-box; /* border goes inside box not outside */
}

.token {
    position:relative;
    top: 6px;
    left: 6px;
    width: 14px;
    height: 15px;
    background-color: red;
}

.token[figurine=true] {
    background-color: yellow;
}