doctype html
head
  meta(charset='utf8')
  title mythomagic
  meta(name='description' content='still working on this')
  meta(name='keywords' content='mythomagic')
p this is the lobby
a(href='GAMECODEHERE') go to game
| &gt;
